.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #5e5555 url(loader.gif) no-repeat center center;
    background-size: cover;
    z-index: 99; 
    opacity: 0.4;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden ;
}

/*.loader::after{
    content: "";
    width:75px;
    height: 75px;
    border-top-color: #24ad2b ;
    border-radius: 50%;
    animation: loading 1.75s ease infinite;
}*/

/*@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}*/